body {
  background-image: url('https://wallpaperaccess.com/full/882671.jpg');
  background-repeat: no-repeat;
  background-size: 1400px 980px;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  /* margin: auto;
  width: 25%;
  padding: 201px; */
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  border-radius: 20px;
  background-color: transparent;
  min-width: 240px;
  max-width: 240px;
  min-height: 314px;
  max-height: 330px;
  padding: 0;
  box-shadow: 0px 0px 120px black;
}
.result {
  font-size: 29px;
  padding: 12px 6px;
  text-align: right;
  width: 94%;
  border: none;
  border-radius: 16px;
  color: #f2f2f2;
  background-color: gray;
}
.first-row,
.second-row,
.third-row,
.fourth-row,
.conflict {
  display: inline-block;
  width: 130%;
}
.global {
  padding: 8px;
  font-weight: bold;
  font-size: 26px;
  border: none;
  border-radius: 6px;
  background-color: gray;
  float: left;
  width: 18.5%;
  margin: -1px 1px;
  color: white;
}
.global:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}
.conflict .left,
.conflict .right {
  float: left;
  position: relative;
}
.left {
  width: 74%;
}
.right {
  width: 24%;
}
.big {
  padding: 8px;
  font-weight: bold;
  font-size: 26px;
  border: none;
  border-radius: 6px;
  float: left;
  width: 37.4%;
  margin: 0 2px;
}
.orange{
  background-color: orange;
}
.orange:hover{
  background-color: rgb(255, 136, 0);
}
.black{
  background-color: rgba(0, 0, 0, 0.719);
}