/* h1 {
  text-align: center;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
} */
* {
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  width: 25%;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 4px;
  text-rendering: optimizeLegibility;
}
.result {
  font-size: 29px;
  padding: 12px 6px;
  font-weight: 700;
  text-align: right;
  width: 73%;
  border: none;
  color: #f2f2f2;
  background-color: gray;
}
.first-row,
.second-row,
.third-row,
.fourth-row,
.conflict {
  display: inline-block;
  width: 100%;
}
.global {
  padding: 8px;
  font-weight: bold;
  font-size: 26px;
  border: none;
  border-radius: 3px;
  background-color: gray;
  float: left;
  width: 18%;
  margin: 0 2px;
  color: white;
}
.global:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}
.conflict .left,
.conflict .right {
  float: left;
  position: relative;
}
.left {
  width: 74%;
}
.right {
  width: 24%;
}
.big {
  padding: 8px;
  font-weight: bold;
  font-size: 26px;
  border: none;
  border-radius: 3px;
  float: left;
  width: 37%;
  margin: 0 2px;
}
.orange{
  background-color: orange;
}
.orange:hover{
  background-color: rgb(255, 136, 0);
}
.black{
  background-color: rgba(0, 0, 0, 0.719);
}
/* .small {
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2;
  float: left;
  width: 31%;
  margin: 0 2px;
} */
.plus {
  height: 105px;
  width: 100%;
}
.green {
  background-color: #81c784;
}
.red {
  background-color: #f50258;
}
.grey {
  background-color: #f2f2f2;
}
.white-text {
  color: #fff;
}
.top-margin {
  margin-top: 4px;
}